//Slogan
$slogan-top-border-color: grey;
$slogan-bottom-border-color: grey;
$slogan-content-align: center;
$slogan-background-color: white;
$slogan-content-font-size: 30px;
//logo
$logo-image-url: "http://qidian.qpic.cn/qdbimg/349573/2750457/180";
$logo-title-font-size: 45px;
//services
$services-list-item-width: 25%;
$services-list-item-title-font-size: 25px;
$services-list-item-description-font-size: 18px;